.zig-cache/
zig-out/
test_main
libbarrier.a
libpause.a
tools/test_prodder
/bat_processor/__pycache__
.rosetta3/
librosetta_window.a
snake_game
app_testing/basic_snake/window_entry
window_main.o
cout_bridge.o
*.o
*.host
*.log
